<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DA-Taquillas</title>
  <link rel="stylesheet" href="/css/syles.css">
</head>
<body>

  <form class="form-container" id="formulario" action="" method="">
    <img src="/img/DelegaLogo.png" alt="">
    <h2>Formulario de Alquiler de Taquillas</h2>
    <label for="delega">Miembro de delegación:</label>
    <input type="text" name="delega" id="delega" required>

    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre" required>

    <label for="DNI">DNI:</label>
    <input type="text" name="DNI" id="DNI" required>

    <label for="telefono">Nº telefono:</label>
    <input type="text" name="telefono" id="telefono" required>

    <label for="email">email:</label>
    <input type="text" name="email" id="email" required>

    <label for="ntaquilla">Taquilla Nº:</label>
    <input type="number" name="ntaquilla" id="ntaquilla" required>

    <span class="link-popup" id="abrirPopup">Ver términos y condiciones</span>

    <div class="checkbox-container">
      <input type="checkbox" id="acepto" name="acepto" required>
      <label for="acepto">Acepto los términos</label>
    </div>

    <button type="submit" id="submit">Enviar</button>
  </form>

  <!-- Popup Modal -->
  <div id="popupModal" class="modal">
    <div class="modal-content">
      <span class="close" id="cerrarPopup">&times;</span>
      <h3>Términos y condiciones</h3>
      <p id="AcuerdoDeUso"></p>
    </div>
  </div>
<script src="/js/script.js"></script>
</body>
</html>
